.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.features {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
  flex-wrap: wrap;
}

.featureCard {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
  padding: 2rem;
  text-align: center;
}
